<a href="https://colab.research.google.com/github/KhusnulKhotimah18/Kelas-Dasar-Pejuang-Data-3.0/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data :

a. `list()` : untuk mengubah menjadi data list

b. `tuple()` : untuk mengubah menjadi tuple

c. `set()` : untuk mengubah menjadi set

d. `dict()` : untuk mengubah menjadi dictionary

## Mengkonversi tipe data list :

In [1]:
#membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [2]:
#mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1, L2))

#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data tuple :

In [3]:
#membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [4]:
#mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1, T2))

#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data set :

In [5]:
S1 = (1, 2, 3, 4)
S2 = (5, 6, 7, 8)

In [6]:
#mengkonversi struktur data 
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(5, 6, 7, 8)
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data dictionary :

In [7]:
#membuat dictionary
D = {"nama" : "Andi", "alamat" : "Yogyakarta", "umur" : 20}

In [8]:
#mengkonversi struktur data  dictionary dari key dan valuenya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'nama', 'alamat'}

## Latihan

In [ ]:
#lakukan konversi struktur data yang kalian buat pada notebook sebelumnya
#buatlah menjadi list, tuple, set, dan dictionary (masing-masing satu)

## Mengkonversi tipe data list

In [9]:
L3 = [2.5, 12, 250, 17.8]
L4 = ["bilangan desimal", 2.5, 17.8, "bilangan bulat"]

In [10]:
#mengkonversi struktur data list
k_tuple = tuple(L3)
k_set = set(L4)
k_dict = dict(zip(L3, L4))

#melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(2.5, 12, 250, 17.8)
{17.8, 2.5, 'bilangan desimal', 'bilangan bulat'}
{2.5: 'bilangan desimal', 12: 2.5, 250: 17.8, 17.8: 'bilangan bulat'}

## Mengkonversi tipe data tuple

In [11]:
T2 = ("desimal", 76.0, 3+10j)
T3 = ("ganjil", 21, True)

In [12]:
#mengkonversi struktur data tuple
k_list = list(T2)
k_set = set(T3)
k_dict = dict(zip(T2, T3))

#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

['desimal', 76.0, (3+10j)]
{True, 'ganjil', 21}
{'desimal': 'ganjil', 76.0: 21, (3+10j): True}

## Mengkonversi tipe data set

In [13]:
S2 = {-2, "negatif", 2, "positif", 7.8, "desimal"}
S3 = {100, "genap", 81, "ganjil", 2+5j, "kompleks"}

In [14]:
#mengkonversi struktur data set
k_list = list(S2)
k_tuple = tuple(S3)
k_dict = dict(zip(S2, S3))

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[2, 'positif', 7.8, 'negatif', 'desimal', -2]
(100, 'kompleks', 'genap', (2+5j), 81, 'ganjil')
{2: 100, 'positif': 'kompleks', 7.8: 'genap', 'negatif': (2+5j), 'desimal': 81, -2: 'ganjil'}

## Mengkonversi tipe data dictionary

In [15]:
D2 = {10: 'genap', 3+3j : 8, 5.5 : True}

In [16]:
#mengkonversi struktur data  dictionary dari key dan valuenya
k_list = list(D2.keys())
k_tuple = tuple(D2.values())
k_set = set(D2.keys())

#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

[10, (3+3j), 5.5]
('genap', 8, True)
{10, (3+3j), 5.5}