# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#Menampilkan tipe struktur data
type(T1)

tuple

**Latihan**

In [ ]:
#buatlah tuplemu sendiri

In [20]:
T2 = ("desimal", 76.0, 3+10j)
print("ini adalah tuple dua", T2)

ini adalah tuple dua ('desimal', 76.0, (3+10j))

In [21]:
type(T2)

tuple

**Sifat-Sifat Tuple**

In [ ]:
#Terurut/ordered
T1[0:3]

(1, 'dua', True)

In [ ]:
#Tidak bisa diganti/immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#Dapat diindeks/Slicing
print("elemen kedua dari tuple T1 adalah :", T1[1])

elemen kedua dari tuple T1 adalah : dua

In [ ]:
#Dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

**Menggabungkan tuple**

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan 2**

In [ ]:
#buatlah tuple baru lalu gabungkan 2 tuple yang telah kamu buat

In [19]:
T3 = ("ganjil", 21, True, 1+4j)
print("ini adalah tuple tiga", T3)

ini adalah tuple tiga ('ganjil', 21, True, (1+4j))

In [18]:
#gabungan T2 dan T3
T4 = T2 + T3
T4

('desimal', 76.0, (3+10j), 'ganjil', 21, True, (1+4j))