# List

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variable yang sering digunakan pada Phyton. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Phyton tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

Setiap data di dalamnya dapat diakses dengan indeks yang  dimulai dari 0.

In [ ]:
#Contoh List
L1 = [1,4,2,13]

print(type(L1))

<class 'list'>

In [ ]:
L2 = ["a","phyton",3]
L2

['a', 'phyton', 3]

In [ ]:
print(L1)
print(L2)

[1, 4, 2, 13]
['a', 'phyton', 3]

**Latihan** 1

In [ ]:
#buatlah list kalian sendiri

In [37]:
L3 = [2.5, 12, 250, 17.8]

print(type(L3))

<class 'list'>

In [38]:
L4 = ["bilangan desimal", 2.5, 17.8, "bilangan bulat", 12, 250]
L4

['bilangan desimal', 2.5, 17.8, 'bilangan bulat', 12, 250]

In [39]:
print(L3)
print(L4)

[2.5, 12, 250, 17.8]
['bilangan desimal', 2.5, 17.8, 'bilangan bulat', 12, 250]

Indeks di Phyton (List,Tuple) mulai dari 0

In [ ]:
#Sifat-sifat list

#Terurut/ordered
print("Memanggil List L1 dengan indeks urutan :", L1[0:3])

#Bisa diganti/mutable
L1[1] = 2
print("List L1 setelah diganti elemennya :", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat diindeks/slicing
print("slicing List L1 :", L1[3])

#Dapat diijinkan duplikasi
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada list L1", L1)

Memanggil List L1 dengan indeks urutan : [1, 4, 2]
List L1 setelah diganti elemennya : [1, 2, 2, 13]
slicing List L1 : (2+3j)
Duplikasi pada list L1 [1, 'dua', True, (2+3j), (2+3j)]

**Latihan 2**

In [ ]:
#Ganti elemen yang ada pada list yang kalian buat

In [47]:
#Sifat-sifat list

#Terurut/ordered
print("Memanggil List L3 dengan indeks urutan :", L3[0:2])

#Bisa diganti/mutable
L3[3] = 8.9
print("List L3 setelah diganti elemennya :", L3)

L3 = [7.8, "desimal", 80, "genap"]

#Dapat diindeks/slicing
print("slicing List L3 :", L3[2])

#Dapat diijinkan duplikasi
L4 = ["bilangan desimal", 2.5, 17.8, "bilangan bulat", 12, 250, 12, 250]
print("Duplikasi pada list L4", L4)

Memanggil List L3 dengan indeks urutan : [7.8, 'desimal']
List L3 setelah diganti elemennya : [7.8, 'desimal', 80, 8.9]
slicing List L3 : 80
Duplikasi pada list L4 ['bilangan desimal', 2.5, 17.8, 'bilangan bulat', 12, 250, 12, 250]