# Variable & Tipe Data

## Variable

Variables : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi. Syarat-syarat penamaan variable :
1. Karakter-karakter yang digunakan untuk penamaan variable adalah alphabet, angka, dan underscore.
2. Karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variable tidak bisa menggunakan keyword atau reserved words dari bahsa phyton seperti for, if, dan lainnya.
4. Karakter pada nama variable bersifat sensitif (case-sensitif)

In [17]:
# membuat variable
kalimat ='ini adalah variable'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [20]:
# menampilkan variable
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan4)

ini adalah variable
4
2.5
(4+1j)

Latihan 1

In [ ]:
# buatlah 5 variable kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variable menggunakan fungsi print

In [22]:
# membuat variable

bilangan5 = 10
bilangan6 = 2.5
bilangan7 = True
kalimat ='anggota bilangan real'
bilangan8 = 10j + 8

In [23]:
# menampilkan variable

print(bilangan5)
print(bilangan6)
print(bilangan7)
print(kalimat)
print(bilangan8)

10
2.5
True
anggota bilangan real
(8+10j)

## Tipe Data

5 Tipe data, yaitu :
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True and False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

Latihan 2

In [ ]:
# cek tipe data variable yang telah kalian buat pada latihan 1

In [24]:
# menampilkan tipe data

print(type(bilangan5))
print(type(bilangan6))
print(type(bilangan7))
print(type(kalimat))
print(type(bilangan8))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'complex'>